<div id="side_nav">
	<h3>Vet Options:</h3>
	
	<ul>
		<li><%= link_to 'Owners', owners_path %></li>
		<li><%= link_to 'Pets', pets_path %></li>
		<li><%= link_to 'Visits', visits_path %></li>
	</ul>
	<p>&nbsp;</p>
</div>